{% extends "header.html" %}

{% block body %}
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Official Server</strong></div>
            <div class="panel-body">
                <p>Users Online: {{ play_users_connected }}</p>
            </div>
            <div class="panel-footer">play.nationmc.net</div>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Beta Server</strong></div>
            <div class="panel-body">
                <p class="text-center"><strong>Online:&nbsp;&nbsp;&nbsp;</strong>{% if beta_server_online %}<img src="{{ url_for('static', filename='img/check-2x.png') }}">{% else %}<img src="{{ url_for('static', filename='img/x-2x.png') }}">{% endif %}</p>
                <p class="text-center"><strong>Players Online:&nbsp;&nbsp;</strong>{{ beta_users_connected }}</p>
            </div>
            <div>
                <div class="text-center"><img src="{{ url_for('static', filename='img/arrow-bottom-2x.png') }}"><strong>&nbsp;&nbsp;List of Players Online&nbsp;&nbsp;</strong><img src="{{ url_for('static', filename='img/arrow-bottom-2x.png') }}"></div>
                <ul class="list-groups" style="padding:5px;" title="Players Online">
                    {% for n in beta_player_list %}
                       <li class="list-group-item list-group-item-info text-center">{{ n }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="panel-footer">beta.nationmc.net</div>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Dev Server</strong></div>
            <div class="panel-body">
                <p>Users Online: {{ dev_users_connected }}</p>
            </div>
            <div class="panel-footer">dev.nationmc.net</div>
        </div>
    </div>
</div>
{% endblock %}