{% extends "player_log_header.html" %}

{% block logbody %}

<div class="panel panel-default" style="margin-top:20px;">
    <!-- Default panel contents -->
    <div class="panel-heading">Player Log</div>

    <!-- Table -->
    <table class="table table-striped">
        <thead>
            <tr class="success">
                <th>Player</th>
                <th>Server</th>
                <th>Login</th>
                <th>Logout</th>
                <th>Session length</th>
            </tr>
        </thead>

        <tbody>
            {% if player_data != None %}
                {% for i in player_data %}
                    {% set session = i.logout - i.login %}
                    <tr>
                        <td>{{ i.username }}</td>
                        <td>{{ i.server }}</td>
                        <td>{{ i.login.strftime('%Y-%m-%d  %H:%M') }}</td>
                        <td>{{ i.logout.strftime('%Y-%m-%d  %H:%M') }}</td>
                        <td>{{ i.session }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}